<div class="jumbotron">
  <h1>{{lutador.title}}</h1>
  <p>{{lutador.description}}</p>
  <img src="{{lutador.imagePath}}" alt="{{lutador.title}}">
  <p><a class="btn btn-success btn-lg pull-right" href="#" role="button">Comprar</a></p>
</div>