<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css' />
	<script src='/javascripts/jquery-3.2.1.min.js'></script>
	<script src='/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>
  </head>
  <body>
    {{> header}}
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
